<o-form-toolbar *ngIf="showFloatingToolbar" [label-header]="labelheader" [label-header-align]="labelHeaderAlign"
  [header-actions]="headeractions"
  [show-header-navigation]="showHeaderNavigation" [show-header-actions-text]="showHeaderActionsText" layout-padding>
  <div o-custom-form-toolbar-buttons-wrapper fxLayout="row" fxLayoutAlign="end center" >
    <ng-content select="[o-form-toolbar-buttons]"></ng-content>
  </div>
</o-form-toolbar>

<ng-host oKeyboardListener keyboardKeys="17;90" (onKeysPressed)="undoKeyboardPressed()" class="scrolling">
  <div fxFlex="grow">
    <o-form-toolbar *ngIf="showNotFloatingToolbar" [label-header]="labelheader" [label-header-align]="labelHeaderAlign" [header-actions]="headeractions"
      [show-header-navigation]="showHeaderNavigation" [show-header-actions-text]="showHeaderActionsText" layout-padding>
      <div o-custom-form-toolbar-buttons-wrapper fxLayout="row" fxLayoutAlign="end center">
        <ng-content select="[o-form-toolbar-buttons]"></ng-content>
      </div>
    </o-form-toolbar>

    <form #innerForm [formGroup]="formGroup" class="inner-form" [class.form-no-toolbar]="!showHeader" autocomplete="off"
      autocorrect="off" autocapitalize="off" spellcheck="false">
      <div fxFlex="100" *ngIf="loading" class="progress-bar-container">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div layout-padding [fxLayout]="layoutDirection" [fxLayoutAlign]="layoutAlign" class="o-form-content-wrapper">
        <!--<ng-content></ng-content> -->
        <o-column tittle-label="AÑADIR GASTO" fxFlex>
          <o-row>
            <o-list-picker attr="CUSTOMERID" label="CUSTOMER" entity="customer" service="customers" value-column="CUSTOMERID"
            columns="CUSTOMERID;ID;PHOTO;NAME;SURNAME;STARTDATE;EMAIL" visible-columns="NAME;SURNAME" read-only="no" required="yes" fxFlex="40"></o-list-picker>
          </o-row>
          <o-row>
            <o-text-input class="input-padding" attr="INVOICE_NAME" label="INVOICE_NAME" sql-type="STRING" fxFlex="40" clear-button="yes"></o-text-input>
        <!-- <o-text-input class="input-padding" attr="INVOICE_FILE" label="INVOICE_FILE" fxFlex="40" sql-type="STRING" clear-button="yes"></o-text-input> -->
            <o-currency-input class="input-padding" attr="AMOUNT" label="AMOUNT" min-decimal-digits="2" max-decimal-digits="2"
            sql-type="DOUBLE" clear-button="yes"></o-currency-input>
          </o-row>
          <o-row>
            <!-- <o-integer-input attr="INVOICE_FILE_ID" label="INVOICE_FILE_ID" sql-type="INTEGER"></o-integer-input> -->
            <o-file-input attr="file" service="invoices" entity="upload" label="{{ 'INPUT_FILE' | oTranslate }}" 
            read-only="no" accept=".txt,.doc,.jpg,.png" max-file-size="100000000" multiple="yes" 
            (change)="onUploadFile($event)"></o-file-input>
          </o-row>
        </o-column>
      </div>
    </form>
  </div>
</ng-host>